{{#each posts as |post| }}
<article class="post">
    <div class="container-fluid">
        <div class="card-header dashboard-post">
            <h4 class="card-title post-title"><a class="link" href="/post/{{id}}">{{title}}</a></h4>
            <div class="card-body post-body">
                <p class="card-body post-content">{{content}}</p>
                <p class="card-text post-author">Posted by <span class="post-username">{{user.username}}</span> on
                    {{format_date createdAt}}</p>
            </div>
        </div>
    </div>
</article>
{{/each}}